# Composer
/vendor/
composer.lock

# Nette runtime
/temp/
/log/

# Env
.env
.env.local
app/Config/local.neon

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Assets build
/www/assets/dist/

# PHPStan
.phpstan.cache/
