page_title: Blog
tag_title: 'Articles tagged: %s'
tag_meta_desc: 'Articles about %s.'
meta_desc: 'Articles about PHP, Nette, web development, and freelance life.'
read_more: Read more
reading_time: '%d min read'
tags: Tags
search_placeholder: Search the blog…
no_posts: No articles found.
prev_post: Previous article
next_post: Next article
comments: Comments
comment_form_title: Leave a comment
comment_name: 'Name:'
comment_email: 'E-mail:'
comment_content: 'Comment:'
comment_submit: Submit comment
comment_pending: Comment submitted for moderation. Thank you!
newsletter_cta: 'Subscribe to new articles.'
subscribe: Subscribe
