page_title: Contact
meta_desc: 'Get in touch – I reply within 24 hours. Or book a free discovery call right away.'
form_title: Send a message
name: 'Name:'
email: 'E-mail:'
subject: 'Subject:'
message: 'Message:'
name_placeholder: Your name
email_placeholder: you@email.com
subject_placeholder: What are you writing about?
message_placeholder: Write your message…
send: Send message
gdpr: 'I consent to the processing of my personal data for the purpose of responding to my inquiry. <a href="/en/privacy">Privacy policy</a>.'
gdpr_required: You must consent to the processing of your personal data.
success: 'Message sent. I will get back to you as soon as possible!'
rate_limit: 'Too many messages from your IP address. Please try again in an hour.'
direct_title: Direct contact
field_email: E-mail
field_linkedin: LinkedIn
field_github: GitHub
field_location: Location
field_hours: Working hours
response_note: 'I usually respond within 24 hours on working days.'
prefer_call: Prefer talking?
prefer_call_desc: 'Book a free 30-minute discovery call. We will discuss everything in person.'
book_call: Book a free call
