brand_desc: "Freelance PHP / Nette vývojář.\nWebové aplikace na míru pro firmy a startupy v ČR."
nav: Navigace
contact: Kontakt
social: Sociální sítě
made_in: 'Postaveno s ❤️ v Čechách'
sitemap: Sitemap
contact_form: Kontaktní formulář
book_call: Rezervace callu
copy: 'Freelance PHP developer'
