brand_desc: "Freelance PHP / Nette developer.\nCustom web applications for businesses and startups."
nav: Navigation
contact: Contact
social: Social media
made_in: 'Built with ❤️ in Czech Republic'
sitemap: Sitemap
contact_form: Contact form
book_call: Book a call
copy: 'Freelance PHP developer'
