home: Domů
blog: Blog
projects: Projekty
services: Služby
pricing: Ceník
about: O mně
contact: Kontakt
booking: Rezervovat call
admin: ⚙ Admin
aria_main_nav: Hlavní navigace
aria_open_menu: Otevřít menu
