page_title: Projekty
meta_desc: 'Portfolio webových projektů – e-shopy, aplikace a REST API.'
all_categories: Vše
view_project: Zobrazit projekt
case_study: Případová studie
technologies: Technologie
visit_site: Navštívit web
