{snippet contactForm}
<div class="contact-form-wrap">
    {form form}
        <div class="form-group">
            {label name /}
            {input name, class => 'form-control', placeholder => 'Vaše jméno'}
            {inputError name}
        </div>

        <div class="form-group">
            {label email /}
            {input email, class => 'form-control', placeholder => 'vas@email.cz'}
            {inputError email}
        </div>

        <div class="form-group">
            {label subject /}
            {input subject, class => 'form-control', placeholder => 'O čem chcete mluvit?'}
            {inputError subject}
        </div>

        <div class="form-group">
            {label message /}
            {input message, class => 'form-control', placeholder => 'Váš projekt, dotaz nebo jen pozdrav…'}
            {inputError message}
        </div>

        {input send, class => 'btn btn-primary'}
    {/form}
</div>
{/snippet}
